<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title})}">
<head>
    <title>Register</title>
</head>
<body>
    <div id="content" class="bg-gray-200 w-1/2 p-4 mx-auto mt-4 flex flex-col justify-center items-center space-y-2" >
        <h1 data-th-text="${name}" class="text-2xl font-bold">Welcome To home Page</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus, culpa libero aliquid possimus repellendus sunt labore explicabo, aperiam nobis molestias impedit laudantium consequuntur aliquam assumenda quisquam neque veniam nihil repudiandae?</p>
        <button class="px-3 py-3 rounded bg-blue-700 hover:bg-yellow-400">click here</button>
        </div>
       
</body>
</html>